
{{title}}<br/><br/>
Customer Name: <input type="text" name="customerName" [(ngModel)]="customerName"/><br/>
Account ID: <input type="text" name="accountId" [(ngModel)]="accountId"/><br/>
<button (click)="createAccountClick()">Create Account</button>
{{ createMessage }}
<br/>
<br/>
Aggregate ID: <input type="text" name="aggregateId" [(ngModel)]="aggregateId"/><br/>
<button (click)="generateTransactions()">Generate Transactions</button>
Transactions:<br/>
<div *ngFor="let t of transactions | async">
    Transaction Amount:&nbsp;{{ t.amount | currency }}
    </div>